.page-footer {
  background-color: #051725;
  color: #e9e6d4;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem; 
}
