@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
  background-color: #256c98;
  color: #e9e6d4;
  justify-content: space-between;
}

button {
  background-color: #051725;
  color: #e9e6d4;
  position: relative;
  margin-top: 25px;
  padding: 10px 24px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

