 a .record-list-container {
 /* margin: 10px; */
}

.recrow li {
  border: 1px solid rgba(250, 232, 232, 0.831);
  display: flex !important;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  margin: 0 auto;
  display: inline-block; 
  height: 25vw;
  width: 25vw; 
}

.rec-list-li {
  padding: 0;
  margin: 10px;
  border: 1px solid #aaa;
  overflow: hidden;
  max-height: 125px;
  font-size: 14px;
  text-align: left;
  line-height: 40px;
  color: #444;
  font-size: 15px;
  font-weight: 900;
}

.reclink {
  margin: 50px;
}
